@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #131345;
  font-family: 'Comfortaa', cursive;
}

a {
  width: inherit;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-decoration: none;
  padding: 5px 0;
  display: block;
}

button {
  transition: 400ms;
  cursor: pointer;
}
button:hover {
  transform: scale(0.9);
}
.preview {
  transition: 400ms;
}
button:hover .preview {
  font-size: 2.5rem;
}
